.countries {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.country {
    border: 2px solid sandybrown;
    border-radius: 5px;
    overflow: hidden;
}

.country img {
    aspect-ratio: 3/2;
    object-fit: contain;
    width: 100%;
    border-bottom: 1px solid black
}

.country > div {
    padding: 0 15px 15px 15px;
}